* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section {
  position: relative;
  width:100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 10% 5%;
  // background-color: rgb(25, 28, 32);
  background-color: rgb(227, 227, 227);
  gap: 20px;

  &__cards{
    display: flex;
    flex-direction: column-reverse;
    backdrop-filter: blur(3px);
    max-width: 700px;
    align-items: end;
    gap: 5px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    padding:  10px 7px;
    width: 95%;
    background-color: #f5f5f5c1;
    border: 1px solid transparent;
    border-radius: 5px;
    gap: 5px;

  }

  .animate-show{
    animation-name: animate-show;
    animation-duration: 0.4s;
  }

  @keyframes animate-show {
    1%{
      transform: scale(0.94);
      border: 1px solid rgb(82, 159, 218);
    }100%{
      transform: scale(1.01);
      border: 1px solid rgb(82, 159, 218);
    }
  }

  .warning {
    border: 1px solid red !important;
  }

  &__items-top {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      background-color: rgb(59, 58, 58);
      color: rgb(232, 230, 230);
      padding: 3px;
      border-radius: 50px;
      position: relative; 
      left: -6%;
      right: 5px;
    }
  }

  &__jason {
    // background-color: rgb(59, 58, 58);
      color: rgb(232, 230, 230);
      padding: 3px;
      border-radius: 50px;
      position: relative; 
      left: -6%;
      right: 5px;
  }

  &__items-title {
    position: relative;
    left: -25px;
    font-family: sans-serif;
    color: rgb(90, 89, 89);
    font-size: 12px;
    // background-color: rgb(53, 50, 132);
    padding: 3px 5px;
    border-radius: 5px;
  }

  &__items-main {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    gap: 10px;
  }

  &__items-text {
    font-family: sans-serif;
    color: rgb(55, 55, 55);
    font-size: 14px;
    text-align: start;
    width:100%;
  }

  &__items-box {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__top {
    position: relative;
    max-width: 700px;
  }

  &__top-box-view {
    position: absolute;
    bottom: 8px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__top-boxes {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__top

  &__main-view, &__main-likes {
    font-family: sans-serif;
    font-size: 10px;
  }

  &__main-view-icon, &__main-like-icon {
    color: rgb(61, 61, 61);
    width: 12px;
  }


  .like, .dislike , .answer {
    color: rgb(61, 61, 61);
    width: 15px;
    transition: all 0.1s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
    padding: 2px;
    border-radius: 50px;
  }
  
  .bg {
    background-color: rgb(84, 207, 31) !important;
  }

  .dislike-bg {
    background-color: rgb(207, 18, 18) !important;
  }

  &__input {
    outline: none;
    padding: 5px 5px 30px 5px;
    // border-radius: 5px;
    font-family: sans-serif;
    border: 1px solid transparent;
    width:100% !important;
    max-width: 700px;
    min-width: 100px;
    min-height: 100px;
    &:hover {
      // transform: scale(1.05);
      border: 1px solid rgb(82, 159, 218);
    }
  }

  form {
    position: relative;
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
  }

  &__main-text {
    font-family: sans-serif;
    background-color: white;
    padding: 5px 5px 30px 5px;
    min-width: 200px;
    font-size: 12px;
    border: 1px solid rgb(82, 159, 218);
    margin-bottom: 3px;
  }

  .send {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: rgb(61, 61, 61);

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }
  }

}